# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# IDE metadata
.idea/
*.iml
*.ipr
*.iws
.vscode/
!.vscode/settings.json

# OS files
.DS_Store

# Tooling
.jdks/

# Java tooling caches
**/bin/
**/.settings/
.classpath
.project
tools/plantuml/plantuml.jar
